$cellWidth: 25px;
$cellHeight: 20px;
$yearHeight: 32px;
$padding: 5px;
$radius: 3px;
$color-text: #333;
$color-red: #c73d05;
$color-current: #bbdcfd;
$color-hover: #fbebbb;
$color-hover-weekend: #ffdbbb;
$color-border: #e5e5e5;
$color-shadow: #666;
$color-year: #c3b5b4;

%hoverable {
  color: $color-text;
  cursor: pointer;
  transition: color .2s ease-out 0s;
  &:hover {
    color: $color-red;
    transition: none;
  }
}

.goodyear {
  position: relative;
  display: inline-block;
  color: $color-text;
  * {
    box-sizing: border-box;
  }
}

.inputContainer {
  position: relative;
  display: inline-block;
  width: 180px;

  &:not(:first-child) {
    margin-left: 30px;
    &::before {
      position: absolute;
      top: 0;
      left: -22px;
      font-size: 16px;
      line-height: 24px;
      color: $color-shadow;
      content: '➔';
    }
  }
}

.input {
  width: 100%;
  padding: 2px $padding;
  font-size: 14px;
  line-height: $cellHeight;
  border: 1px solid $color-border;
  outline: none;

  &:hover {
    border-color: color($color-border l(-10%));
  }

  &:focus,
  &.focus {
    border-color: $color-current;
    box-shadow: inset 0 0 0 1px $color-current;
  }
}

.icon {
  position: absolute;
  top: 2px;
  right: 5px;

  @extend %hoverable;
  &::before {
    font-size: 16px;
    line-height: $cellHeight;
  }
}

.calendar {
  position: absolute;
  top: 31px;
  left: -1px;
  z-index: 100;
  width: 320px;
  height: 270px;
  overflow: hidden;
  font-size: 13px;
  user-select: none;
  background-color: #fff;
  border: 1px solid $color-border;
  border-radius: 2px;
  box-shadow: 0 8px 20px -8px $color-shadow;
}

.days {
  position: absolute;
  left: 3px;
}

.weekdays {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 256px;
  height: $cellHeight;
  padding-left: 8px;
  font-size: 12px;
  line-height: 17px;
  background: rgba(255, 255, 255, .8);
  border-bottom: 1px solid #e5e5e5;
  // Bonus track for people from future and Safari lovers

  backdrop-filter: blur(2px);
}

.weekday {
  display: inline-block;
  width: $cellWidth;
  padding: 2px $padding 0;
  text-transform: capitalize;
}

.weekend {
  color: $color-red;
}

.month {
  display: flex;
  width: calc($cellWidth * 7);
  margin: calc($cellHeight / 2) $padding;
  line-height: $cellHeight;

  flex-wrap: wrap;

  & > * {
    height: $cellHeight;
    padding: 0 $padding;

    flex-shrink: 0;
  }
}

.monthTitle {
  text-transform: capitalize;

  flex-basis: calc($cellWidth * 3);
}

.day {
  position: relative;
  text-align: right;
  cursor: pointer;
  border-radius: $radius;
  transition: background-color .2s ease-out 0s;

  flex-basis: $cellWidth;



  &.between {
    background-color: color($color-current l(+10%));
    border-radius: 0;
    transition: none;
  }

  &.activeBetween {
    background-color: color($color-hover l(+5%));
    border-radius: 0;
    transition: none;

    &.weekend {
      background-color: color($color-hover-weekend l(+5%));
    }
  }

  &.current {
    font-weight: bold;
    color: $color-text;
    background-color: $color-current;
    transition: none;
  }

  &.active {
    background-color: $color-hover;
    transition: none;

    &.weekend {
      background-color: $color-hover-weekend;
    }
  }

  &.from {
    border-radius: $radius 0 0 $radius;
  }

  &.to {
    border-radius: 0 $radius $radius 0;
  }

  &.from.to {
    border-radius: $radius;
  }

  &.empty {
    pointer-events: none;
    opacity: 0;
  }

  &.today::after {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.monthNames {
  position: absolute;
  top: $cellHeight;
  left: 195px;
  width: 55px;
  height: calc(12 * $cellHeight);
  padding: 0 $padding;
  overflow: hidden;
}

.monthName {
  height: $cellHeight;
  line-height: $cellHeight;

  @extend %hoverable;
}

.today::after {
  font-weight: bold;
  content: ' •';
}

.slider {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2 * $cellHeight);
  cursor: grab;
  background-color: #000;
  border-radius: $radius;
  opacity: .1;
  &:hover {
    opacity: .15;
  }

  &.dragging {
    cursor: grabbing;
    opacity: .25;
  }
}

.years {
  position: absolute;
  top: 0;
  left: 256px;
  width: 61px;
  height: calc($yearHeight * 11);
  border-left: 1px solid $color-border;
}

.year {
  height: $yearHeight;
  padding-left: 12px;
  line-height: $yearHeight;
  color: $color-year;

  @extend %hoverable;

  &.currentYear {
    color: $color-text;
    cursor: auto;
    transition: none;
  }
}

.marker {
  position: absolute;
  top: 135px;
  left: 256px;
  width: 61px;
  height: 0;
  border-bottom: 1px solid $color-year;
}

.range {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  &.currentRange {
    background-color: color($color-current a(30%));
    border-color: $color-current;
  }

  &.activeRange {
    background-color: color($color-hover a(30%));
    border-color: $color-hover;
  }
}
